/* -------- GLOBAL -------- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #f4f6f8);
}

h2,
h3 {
  margin-bottom: 10px;
}

input,
button {
  padding: 8px;
  margin: 5px 0;
  font-size: 14px;
}

button {
  cursor: pointer;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 4px;

}

button:hover {
  background-color: #125aa0;
}

/* -------- LOGIN WRAPPER -------- */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e3f2fd, #f4f6f8);
}

/* -------- LOGIN CONTAINER -------- */
.login-container {
  width: 420px;
  height: 450px;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-container h1 {
  color: #1976d2;
  text-align: center;
  margin-bottom: 5px;
}

.login-container h2 {
  color: #f27474;
  text-align: center;
  margin-bottom: 25px;
}

/* -------- INPUT GROUP -------- */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #1976d2;
  font-size: 16px;
}

.input-group input {
  width: 87%;
  padding: 12px 12px 12px 42px;
  border-radius: 25px;
  border: 2px solid #2196f3;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border-color: #1976d2;
  box-shadow: 0 0 6px rgba(25, 118, 210, 0.4);
}

/* -------- OPTIONS -------- */
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 10px 0 20px;
}

.login-options label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot {
  color: #1976d2;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}

/* -------- LOGIN BUTTON -------- */
.login-button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  font-size: 15px;
  background: linear-gradient(135deg, #1976d2, #0d47a1);
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.login-container a {
  text-decoration: none;
  font-weight: lighter;
  color: #1976d2;

}

.login-container h4 {
  font-weight: lighter;
}

/* -------- DASHBOARD -------- */
.dashboard {
  width: 90%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}
.welcome{
  margin-top: -35px;
}

.user-info {
  margin-bottom: 15px;
  color: #555;
}

.search-input {
  width: 80%;
  padding: 10px 15px;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #2196f3;
  border-color: #1976d2;
  box-shadow: 0 0 6px rgba(25, 118, 210, 0.4);
  font-size: 14px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* ===== TOP BAR ===== */
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 20px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Notification */
.icon-wrapper {
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #1976d2;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.username {
  font-size: 14px;
  font-weight: 500;
}

/* Dropdown */
.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  width: 180px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  z-index: 100;
}

.profile-dropdown p {
  margin: 4px 0;
}

.profile-dropdown .role {
  font-size: 12px;
  color: #777;
}

.profile-dropdown button {
  width: 100%;
  margin-top: 8px;
  background: #e53935;
}


/* -------- TASK TABLE -------- */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: #1976d2;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background-color: #f1f1f1;
}

/* -------- ASSIGN TASK -------- */
.assign-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.assign-card {
  width: 850px;
  background: white;
  padding: 25px 30px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.assign-title {
  text-align: center;
  margin-bottom: 20px;
  color: #1976d2;
}

.assign-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.assign-grid input,
.assign-grid select,
.assign-grid textarea {
  /* width: 100%; */
  padding: 10px;
  border-radius: 8px;
  border: 1.8px solid #2196f3;
}

.assign-grid textarea {
  grid-column: span 2;
  resize: none;
  height: 90px;
}

.assign-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.assign-action button {
  width: 160px;
  padding: 10px;
  border-radius: 25px;
}


.task-card {
  width: 200px;
  padding: 15px;
  background: #fff8b3;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.task-card h4 {
  margin: 0;
}

.task-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  width: 400px;
  margin: 100px auto;
  border-radius: 8px;
}

.sidebar {
  width: 220px;
  background: #1976d2;
  color: white;
  font-size: 23px;
  min-height: 95.7vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/* Top menu buttons */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* All sidebar buttons */
.sidebar button {
  width: 100%;
  background: white;
  color: #1976d2;
  border-radius: 6px;
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}

/* Logout fixed to bottom */
.logout-btn {
  margin-top: auto;
  /* background: #ff5252; */
  color: white;
}

.task-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.task-card {
  width: 220px;
  padding: 15px;
  background: linear-gradient(135deg, #fff7ae, #ffe066);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card h4 {
  margin: 0 0 8px 0;
}

.task-status {
  font-weight: bold;
}

/* STATUS COLORS */
.status-Pending {
  color: #ff9800;
}

.status-InProgress {
  color: #2196f3;
}

.status-Completed {
  color: #4caf50;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.history-table th,
.history-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.history-table th {
  background: #1976d2;
  color: white;
}

.history-table tr:nth-child(even) {
  background: #f5f5f5;
}